body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #551919;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ensure the navbar is above other content */
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
    font: 1.8em 'Edwardian Script ITC';
}

.navbar a:hover {
    background-color: rgb(128, 110, 11);
    color: black;
}

.Nav_Text {
    font-size: 40px;
    font: 2.3em "Edwardian Script ITC";
    color: gold;
    margin: 0;
}

hr {
    margin: 0;
    border: 3px solid #cf2626;
}

/* Responsive navbar */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar a {
        display: none;
    }

    .navbar .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: white;
    }

    .navbar.active a {
        display: block;
        width: 100%;
        text-align: left;
        padding: 10px 20px;
    }
}

/* Home Page Rules */
.contentHome {
    padding: 20px;
    padding-top: 60px;
    text-align: left;
}

.homeImage {
    margin: 0 auto; /* Center the .homeImage container itself */
    width: 50%;
    height: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ensure children are stacked vertically */
}

/* Ashes Animation */
#ashes-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}

.ash {
    position: absolute;
    width: 10px;
    height: 10px;
    background: radial-gradient(circle, rgba(255,69,0,1) 0%, rgba(255,140,0,1) 50%, rgba(255,215,0,0.8) 100%);
    opacity: 0.8;
    border-radius: 50%;
    animation: fall linear infinite, glow 1.5s ease-in-out infinite alternate;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px rgba(168, 46, 2, 0.5);
    }
    to {
        box-shadow: 0 0 20px rgb(248, 131, 88);
    }
}

/* History Page Rules */

.contentHistory {
    padding: 20px;
    padding-top: 70px;
    text-align: left;
}

.Takhisis {
    width: 50%;
    height: 50%;
    margin: 0 auto; /* Center the .Takhisis container itself */
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ensure children are stacked vertically */
}

.Takhisis h3 {
    margin: 0; /* Remove default margin */
    text-align: center; /* Center text within the h3 element */
    font-size: 15px;
    padding-top: 15px;
}

.Cataclysm {
    padding-top: 20px;
    width: 45%;
    height: 45%;
    margin: 0 auto; /* Center the .Cataclysm container itself */
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ensure children are stacked vertically */
}

.SotDQ {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    margin: 0 auto; /* Center the .SotDQ container itself */
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ensure children are stacked vertically */
}

/* Map Page Rules */
.Map {
    padding: 20px;
    margin: 0 auto;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
    position: relative;
    width: 100%;
    height: 100vh; /* Make the map container take the full viewport height */
}

.zoomable-map {
    width: 100%;
    height: auto;
    transition: transform 0.25s ease; /* Smooth zoom transition */
    transform-origin: center center; /* Zoom from the center */
    cursor: grab; /* Change cursor to grab while dragging */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none; /* Ignore the warning message since this is a vendor specific property and not something included in the CSS Documentation. */
}

/* Character Page Rules */
.contentCharacterCreation {
    padding: 20px;
    padding-top: 60px;
    text-align: left;
}

.table1, .calanderTable{
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 10px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: rgb(0, 0, 0)
}

tr:nth-child(even) {
    background-color: #5519196c;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}